.list{


    &__button{
        width: 322px;
        height: 68px;
        font-size: 20px;
        color: rgba(17, 17, 17, 0.69);
        border-radius: 16px;
        border: none;
        background-color: rgba(217, 217, 217, 0.38);
        cursor: pointer;
        
    }
}