.home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

    &__text{
        display: flex;
        flex-direction: column;
        
        gap: 20px;
        padding-right: 53px;
        &__logo{
            line-height: 0.67;
            padding-bottom: 20%;
            h1{
                font-size: 128px;
                font-weight: 700;
                color: #FF9F1D;
                
            }
            h1:last-child{
                margin-left: 45%;
                
            }
        }

        h2{
            font-size: 40px;
            color: #FFBF68;
            font-weight: 400;
        }
    }

    
}